<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title></title>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>

    <!-- contenitore sliders -->
    <div class="container">
      <div id="sliders">
        <h1>indovina il personaggio...</h1>

        <!-- freccia sx -->
        <i class="fas fa-arrow-circle-left fa-2x" @click="prevImg"></i>

        <!-- slide immagini -->
        <div class="image">
          <img :src="img[indexImg]" alt="">
        </div>

        <!-- freccia dx -->
        <i class="fas fa-arrow-circle-right fa-2x" @click="nextImg"></i>


        <!-- pallini -->
        <div class="circle">
          <i v-for="(element, index) in img"
             class="fas fa-circle fa-xs"
             :class="index == indexImg ? 'active' : null"
             @click="circleImg(index)"></i>
        </div>

        <div class="ask">
          <input
          type="text"
          placeholder="inserisci nome personaggio"
          v-model="name">
          <h2>il tuo personaggio e'...</h2>
          <p>{{ name }}</p>
        </div>
      </div>
    </div>

    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/main.js" type="text/javascript"></script>
  </body>
</html>
